@using Aurora.Enums
@using Aurora.Utils
@model IEnumerable<KierunekStudiow>
@{
    ViewData["Title"] = "Oferta";
}

<body>


    <div class="row">
        <div class="col-md-4 index-sort-panel">
            <div class="form-inline pull-left" >
                    @using (Html.BeginForm("Index", "OfertaKierunkow", FormMethod.Get, new { @class = "form-group", id = "searchForm" }))
                    {
                    <div class="custom-dropdown">
                        <label for="txtSearchFilter">Wyszukaj kierunek:</label>
                        <input type="text" class="form-control" placeholder="Szukaj..." id="txtSearchFilter" name="searchFilter" value="@ViewBag.SearchFilter" />
                        <button id="submitFilterBtn" type="submit" class="btn btn-secondary">Szukaj</button>
                        <button id="cleanFiltersBtn" type="button" class="btn btn-outline-danger" onclick="clearFilters()">Usuń filtry</button>
                            @Html.Hidden("filterPoziom", TempData["FilterPoziom"])
                            @Html.Hidden("filterForma", TempData["FilterForma"])
                            @Html.Hidden("filterJezyk", TempData["FilterJezyk"])
                            @Html.Hidden("filterWydzial", TempData["FilterWydzial"])
                            @Html.Hidden("filterMiejsce", TempData["FilterMiejsce"])
                    </div>

                    }
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-inline pull-right">
                    @using (Html.BeginForm("index", "OfertaKierunkow", FormMethod.Get, new { @class = "form-group", id = "filterForm" }))
                    {

                        <div class="custom-dropdown">
                            <label for="filterPoziom">Poziom studiów:</label>
                            @Html.DropDownList("filterPoziom", new SelectList(ViewBag.FilterOptionsPoziom, "Value", "Text", ViewBag.SelectedFilterPoziom), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterPoziom, @class = "select-item" })
                        </div>
                        <div class="custom-dropdown">
                            <label for="filterForma">Forma studiów:</label>
                            @Html.DropDownList("filterForma", new SelectList(ViewBag.FilterOptionsForma, "Value", "Text", ViewBag.SelectedFilterForma), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterForma, @class = "select-item" })
                        </div>
                        <div class="custom-dropdown">
                            <label for="filterJezyk">Język wykładowy:</label>
                            @Html.DropDownList("filterJezyk", new SelectList(ViewBag.FilterOptionsJezyk, "Value", "Text", ViewBag.SelectedFilterJezyk), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterJezyk, @class = "select-item" })
                        </div>
                        <div class="custom-dropdown">
                            <label for="filterWydzial">Wydział kierunku</label>
                            @Html.DropDownList("filterWydzial", new SelectList(ViewBag.FilterOptionsWydzial, "Value", "Text", ViewBag.SelectedFilterWydzial), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterWydzial, @class = "select-item" })
                        </div>
                        <div class="custom-dropdown">
                            <label for="filterOption1">Miejsce studiów:</label>
                            @Html.DropDownList("filterMiejsce", new SelectList(ViewBag.FilterOptionsMiejsce, "Value", "Text", ViewBag.SelectedFilterMiejsce), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterMiejsce, @class = "select-item" })
                        </div>

                        <input type="hidden" name="searchFilter" value="@ViewBag.SearchFilter" />
                        <input type="hidden" name="filterPoziom" value="@TempData["FilterPoziom"]" />
                        <input type="hidden" name="filterForma" value="@TempData["FilterForma"]" />
                        <input type="hidden" name="filterJezyk" value="@TempData["FilterJezyk"]" />
                        <input type="hidden" name="filterWydzial" value="@TempData["FilterWydzial"]" />
                        <input type="hidden" name="filterMiejsce" value="@TempData["FilterMiejsce"]" />
                    }
            </div>
        </div>

    </div>

    @if (Model.Any())

    {


        <ul class="top-margin">
            @foreach (var kierunek in Model)
            {
                 <br>
                <li class="list-outer-border2">
                    <table class="table" >
                        <thead>
                            <th> </th>
                        </thead>
                        <tbody>

                            <tr class="application-row">
                                <td id="candStudyTxt" class="my-td">Kierunek: @kierunek.NazwaKierunku</td>
                                <td id="candStudyFormTxt" class="my-td">Forma studiów: @(EnumUtils.ConvertIDToTypeAsString<FormaStudiow>(kierunek.FormaStudiow)) </td>
                                <td class="my-td">
                                    <form asp-action="WyliczWspolczynnik" asp-route-id="@kierunek.ID" method="get">
                                        <button id="calculateRRBtn" type="submit" class="btn btn-secondary index-offers-button">Wylicz współczynnik</button>
                                    </form>
                                </td>
                                <td id ="recruitProceduresBtn" class="my-td"> <button class="btn btn-secondary index-offers-button">Procedury rekrutacji</button></td>
                                <td id="applyBtn" class="my-td"> <button class="btn btn-secondary index-offers-button">Aplikuj</button></td>
                            </tr>

                            <tr class="application-row">
                                <td id="candStudyDepartTxt" class="my-td">@(EnumUtils.ConvertIDToTypeAsString<NazwaWydzialu>(kierunek.Wydzial)) </td>
                                <td id="candStudyLvlTxt" class="my-td">Poziom studiów: @(EnumUtils.ConvertIDToTypeAsString<PoziomStudiow>(kierunek.PoziomStudiow)) </td>
                                <td id="recruitDeadlinesBtn" class="my-td"> <button class="btn btn-secondary index-offers-button">Terminy rekrutacji</button></td>
                                <td id="thresholdPointsBtn" class="my-td"> <button class="btn btn-secondary index-offers-button">Progi punktowe</button></td>
                                <td class="my-td"></td>
                            </tr>

                            <tr class="application-row">
                                <td id="addToFavouriteBtn" class="my-td">Dodaj do ulubionych</td>
                                <td id="candLnagTxt" class="my-td">Język wykładowy: @(EnumUtils.ConvertIDToTypeAsString<Jezyk>(kierunek.JezykWykladowy))</td>
                                <td class="my-td"></td>
                                <td class="my-td"></td>
                                <td class="my-td"></td>
                            </tr>

                            <tr class="application-break-row"></tr>

                        </tbody>
                    </table>
                </li>
               
            }
        </ul>


    }
    else
    {
        <p class="center-text">@ViewBag.PopUpMessage</p>
    }


    @if (ViewBag.PopUpMessage != null)
    {
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button id="popUpXBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p id ="popUpMsgBtn" style="text-align: center">@ViewBag.PopUpMessage</p>
                    </div>

                    <div class="modal-footer">
                        <button id="popUpCloseBtn" type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                    </div>

                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var popUpMessage = '@Html.Raw(ViewBag.PopUpMessage)';

                if (popUpMessage.trim() !== '') {
                    $('#myModal').modal('show');
                }
            });
        </script>
    }

</body>

<script>


    $(document).ready(function () {
        var actionUrl = "@Url.Action("Index", "OfertaKierunkow")";
        $("#wyliczWspolczynnikBackButton").click(function () {
            goBackFromWyliczWspolczynnik(actionUrl);
        });

    });



</script>



