@model IEnumerable<Aurora.Models.AplikacjaRekrutacyjna>

@{
    ViewData["Title"] = "Szczegoly";
}

<h1>Szczegoly</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KierunekStudiow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuraRekrutacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OplataRekrutacyjna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZlozenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kandydat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KierunekStudiow.NazwaKierunku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuraRekrutacji.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OplataRekrutacyjna.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZlozenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kandydat.AdresEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
