@model IEnumerable<Aurora.Models.AplikacjaRekrutacyjna>

@{
    ViewData["Title"] = "Szczegoly";
}

<h1>Szczegoly</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KierunekStudiow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuraRekrutacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OplataRekrutacyjna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZlozenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kandydat)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KierunekStudiow.NazwaKierunku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuraRekrutacjiID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OplataRekrutacyjnaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZlozenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KandydatID)
            </td>
        </tr>
}
    </tbody>
</table>
