@using Aurora.Enums
@using Aurora.Utils

@model Aurora.Models.AplikacjaRekrutacyjna

@{
    ViewData["Title"] = "Szczegoly";
}

<div class="container">
    <div class="row">
        <!-- Pierwsza tabela (kolumna 1) -->
        <div class="col-md-6">
            <table class="table blodFirstChild">
                <tbody>
                    <tr withOutBorderTopBorder>
                        <td colspan="2"><h3>Ranking tury</h3></td>
                    </tr>
                    <tr>
                        <td>Zajęte miejsce:</td>
                        <td>@ViewBag.ZajeteMiejsce</td>
                    </tr>
                    <tr>
                        <td>Liczba miejsc na kierunku:</td>
                        <td>@Model.TuraRekrutacji.LiczbaZajetychMiejsc</td>
                    </tr>
                    <tr>
                        <td>Liczba osób aplikujących:</td>
                        <td>@ViewBag.IloscOsobAplikujących</td>
                    </tr>
                    <tr>
                        <td>Współczynik rekrutacyjny:</td>
                        <td>@ViewBag.IloscPunktow</td>
                    </tr>
                    <tr>
                        <td>Minimalna liczba punktów:</td>
                        <td>@ViewBag.MinimalnaIloscPunktow</td>
                    </tr>
                    <tr class="withOutBorderTopBorder"><td class="withOutBorderTopBorder"></td><td class="withOutBorderTopBorder"></td></tr>
                    <tr class="withOutBorderTopBorder"><td class="withOutBorderTopBorder"></td><td class="withOutBorderTopBorder"></td></tr>
                    <tr withOutBorderTopBorder>
                        <td colspan="2"><h3>Dane osobowe</h3></td>
                    </tr>
                    <tr>
                        <td>Pesel:</td>
                        <td>@Model.Kandydat.PESEL</td>
                    </tr>
                    <tr>
                        <td>Imie:</td>
                        <td>@Model.Kandydat.Imie</td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td>@Model.Kandydat.Nazwisko</td>
                    </tr>
                    <tr>
                        <td>Kod pocztowy:</td>
                        <td>@Model.Kandydat.Adres.KodPocztowy</td>
                    </tr>
                    <tr>
                        <td>Miejscowość:</td>
                        <td>@Model.Kandydat.Adres.Miejscowosc</td>
                    </tr>
                    <tr>
                        <td>Ulica:</td>
                        <td>@Model.Kandydat.Adres.Ulica</td>
                    </tr>
                    <tr>
                        <td>Nr budynku:</td>
                        <td>@Model.Kandydat.Adres.NumerBudynku</td>
                    </tr>
                    <tr>
                        <td>Adres email:</td>
                        <td>@Model.Kandydat.AdresEmail</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Druga tabela (kolumna 2) -->
        <div class="col-md-6">
            <table class="table blodFirstChild">
                <tbody>
                    <tr withOutBorderTopBorder>
                        <td colspan="2"><h3>Dane Aplikacji</h3></td>
                    </tr>
                    <tr>
                        <td>Wydział:</td>
                        <td>@(EnumUtils.ConvertIDToTypeAsString<NazwaWydzialu>(Model.KierunekStudiow.Wydzial))</td>
                    </tr>
                    <tr>
                        <td>Kierunek:</td>
                        <td>@Model.KierunekStudiow.NazwaKierunku</td>
                    </tr>
                    <tr>
                        <td>Forma studiów:</td>
                        <td>@(EnumUtils.ConvertIDToTypeAsString<FormaStudiow>(Model.KierunekStudiow.FormaStudiow))</td>
                    </tr>
                    <tr>
                        <td>Język wykładowy:</td>
                        <td>@(EnumUtils.ConvertIDToTypeAsString<Jezyk>(Model.KierunekStudiow.JezykWykladowy))</td>
                    </tr>
                    <tr>
                        <td>Data aplikacji:</td>
                        <td>@Html.DisplayFor(Model => Model.DataZlozenia)</td>
                    </tr>
                    <tr>
                        <td>Status aplikacji:</td>
                        <td>@(EnumUtils.ConvertIDToTypeAsString<RodzajStatusuAplikacji>(Model.Status))</td>
                    </tr>
                    <tr>
                        <td>Data rozpoczecia rekrutacji:</td>
                        <td>@Html.DisplayFor(Model => Model.TuraRekrutacji.DataOtwarcia)</td>
                    </tr>
                    <tr>
                        <td>Data zakonczenia rekrutacji:</td>
                        <td>@Html.DisplayFor(Model => Model.TuraRekrutacji.DataZakonczenia)</td>
                    </tr>
                    <tr>
                        <td>Koszt aplikacji:</td>
                        <td>@Model.OplataRekrutacyjna.Kwota zł</td>
                    </tr>
                    <tr class="withOutBorderTopBorder"><td class="withOutBorderTopBorder"></td><td class="withOutBorderTopBorder"></td></tr>
                    <tr class="withOutBorderTopBorder"><td class="withOutBorderTopBorder"></td><td class="withOutBorderTopBorder"></td></tr>
                    <tr withOutBorderTopBorder>
                        <td colspan="2"><h3>Złożone dokumenty</h3></td>
                    </tr>
                    @foreach (var dokument in Model.Dokumenty)
                    {
                        <tr>
                            <td >@(EnumUtils.ConvertIDToTypeAsString<RodzajDokumentu>(dokument.Dokument.RodzajDokumentu))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<a class="btn btn-primary" asp-action="Index">Powrót</a>
