@model Aurora.Models.AplikacjaRekrutacyjna
@using static Aurora.Utils.EnumUtils
@using Aurora.Enums

@{
    ViewData["Title"] = "Dane aplikacji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dane aplikacji</h1>
<hr />

<div class="container">
    <div class="row gx-10">
        <div class="col">
            <table class="table-bordered table-striped">
                <tbody>
                    <tr>
                        <th class="px-2">
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <td class="px-3 align-middle">
                            @Html.DisplayFor(model => model.ID)
                        </td>
                    </tr>
                    <tr>
                        <th class="px-2">
                            @Html.DisplayNameFor(model => model.DataZlozenia)
                        </th>
                        <td class="px-3 align-middle">
                            @Html.DisplayFor(model => model.DataZlozenia)
                        </td>
                    </tr>
                    <tr>
                        <th class="px-2">
                            @Html.DisplayNameFor(model => model.OplataRekrutacyjna.ID) opłaty
                        </th>
                        <td class="px-3 align-middle">
                            @Html.DisplayFor(model => model.OplataRekrutacyjna.ID)
                        </td>
                    </tr>
                    <tr>
                        <th class="px-2">
                            @Html.DisplayNameFor(model => model.OplataRekrutacyjna.Kwota) opłaty
                        </th>
                        <td class="px-3 align-middle">
                            @Html.DisplayFor(model => model.OplataRekrutacyjna.Kwota) PLN
                        </td>
                    </tr>
                    <tr>
                        <th class="px-2">
                            Zapisano na egzaminy
                        </th>
                            @if (Model.EgzaminyWstepne.Any())
                            {
                                <td class="px-3 py-3 align-middle">
                                <ul class="list-group d-flex align-items-center">
                                        @foreach (var item in Model.EgzaminyWstepne)
                                        {
                                            <li class="list-group-item mb-2">
                                                @item.Dziedzina
                                            </li>
                                        }
                                    </ul>
                                </td>
                            }
                            else
                            {
                                <td class="px-3 align-middle d-flex align-items-center">
                                    <p class="m-0">Brak</p>
                                </td>
                            }
                    </tr>
                    <tr>
                        <th class="px-2">
                            Złożone dokumenty
                        </th>
                            @if (Model.Dokumenty.Any())
                            {
                                <td class="px-3 py-3 align-middle d-flex align-items-center">
                                    <ul class="list-group d-flex align-items-center">
                                        @foreach (var item in Model.Dokumenty)
                                        {
                                            <li class="list-group-item mb-2">
                                                @{
                                                    var rodzaj = ConvertIDToTypeAsString<RodzajDokumentu>(item.Dokument.RodzajDokumentu);
                                                }
                                                @rodzaj
                                            </li>
                                        }
                                    </ul>
                                </td>
                            }
                            else
                            {
                                <td class="px-3 align-middle d-flex align-items-center">
                                    <p class="m-0">Brak</p>
                                </td>
                            }
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <table class="table-bordered table-striped">
                <tbody>
                    <tr>
                        <th class="px-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <td class="px-3 align-middle">
                            @{
                                var nazwaStatusu = ConvertIDToTypeAsString<RodzajStatusuAplikacji>(Model.Status);
                            }
                            @nazwaStatusu
                        </td>
                    </tr>
                    <tr>
                        <th class="px-2">
                            @Html.DisplayNameFor(model => model.KierunekStudiow.NazwaKierunku)
                        </th>
                        <td class="px-3 align-middle">
                            @Html.DisplayFor(model => model.KierunekStudiow.NazwaKierunku)
                        </td>
                    </tr>
                    <tr>
                        <th class="px-2">
                            Wartość współczynnika rekrutacyjnego
                        </th>
                        <td class="px-3 align-middle">
                            @Html.DisplayFor(model => model.WspolczynnikRekrutacyjny.Wartosc)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="float-right">
    
    @if (Model.Status != (int)RodzajStatusuAplikacji.Anulowana){
        <a class="btn btn-primary" asp-action="ZapiszNaEgzaminy" asp-route-id="@Model.ID">Zapisz na egzaminy</a>
        <a class="btn btn-primary" asp-action="AnulujAplikacje" asp-route-id="@Model.ID">Anuluj aplikację</a>
    }
</div>


@if (ViewBag.PopUpMessage != null)
{
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 style="text-align: center">@ViewBag.PopUpMessage</h3>
                    <div class="float-right">
                        @if ((ViewBag.PopUpMessage as string).Contains("?"))
                        {
                            <a class="btn btn-primary" asp-action="AnulujAplikacjePotwierdz" asp-route-id="@Model.ID">Tak</a>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Nie</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var popUpMessage = '@Html.Raw(ViewBag.PopUpMessage)';

            if (popUpMessage.trim() !== '') {
                $('#myModal').modal({ backdrop: 'static', keyboard: false });
                $('#myModal').modal('show');
            }
        });
    </script>
}