@using Aurora.Enums
@using Aurora.Utils
@using Aurora.ViewModels
@model KandydaciIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1></h1>

@using (Html.BeginForm("Index", "Kandydaci", FormMethod.Get, new { @class = "form-group", id = "filterForm" }))
{
    <div class="custom-dropdown">
        <label for="filterWydzial">Kierunek: </label>
        @Html.DropDownList("FilterWydzial", new SelectList(Model.wydzialy, "Value", "Text", Model.FilterWydzial), new { onchange = "submitFilterForm();", @value = Model.FilterWydzial, @class = "select-item" })
    </div>

    @if (!Model.CzyDowolnyWydzial)
    {

        <div class="col-md-6 index-sort-panel">
            <div class="form-inline pull-left">
                <div class="custom-dropdown">
                    <label for="txtSearchFilter" style="display: block; text-align: left;">Wyszukaj kierunek:</label>
                    <input type="text" class="form-control" placeholder="Wyszukaj kierunek" id="SearchFilter" name="SearchFilter" value="@Model.SearchFilter" />
                    <button type="submit" class="btn btn-secondary">Szukaj</button>
                    <button type="button" class="btn btn-outline-danger" onclick="clearFilters2()">Usuń filtry</button>
                </div>


            </div>
        </div>
        <div class="col-md-12">
            <div class="form-inline pull-right">

                <div class="custom-dropdown">
                    <label for="filterPoziom">Poziom studiów:</label>
                    @Html.DropDownList("FilterPoziom", new SelectList(Model.poziomyStudiow, "Value", "Text", Model.FilterPoziom), new { onchange = "submitFilterForm();", @value = Model.FilterPoziom, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterForma">Forma studiów:</label>
                    @Html.DropDownList("FilterForma", new SelectList(Model.formyStudiow, "Value", "Text", Model.FilterForma), new { onchange = "submitFilterForm();", @value = Model.FilterForma, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterJezyk">Język wykładowy:</label>
                    @Html.DropDownList("FilterJezyk", new SelectList(Model.jezykiStudiow, "Value", "Text", Model.FilterJezyk), new { onchange = "submitFilterForm();", @value = Model.FilterJezyk, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterOption1">Miejsce studiów:</label>
                    @Html.DropDownList("FilterMiejsce", new SelectList(Model.miejscaStudiow, "Value", "Text", Model.FilterMiejsce), new { onchange = "submitFilterForm();", @value = Model.FilterMiejsce, @class = "select-item" })
                </div>     
            </div>
        </div>
    }

}


        <ul class="top-margin">
            @foreach (var aplikacja in Model.FilterAplikacje)
            {
                <br>
                <li class="list-outer-border2">
                    <table data-index="@aplikacja.ID" id="candAppsTable" class="table">
                        <thead>
                        <th> </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-index="@aplikacja.ID" class="my-td" colspan="2">Imię: @aplikacja.Kandydat.Imie</td>
                                <td data-index="@aplikacja.ID" class="my-td">Forma studiów: @(EnumUtils.ConvertIDToTypeAsString<FormaStudiow>(aplikacja.KierunekStudiow.FormaStudiow))</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td data-index="@aplikacja.ID" class="my-td" colspan="2">Nazwisko: @aplikacja.Kandydat.Nazwisko</td>
                                <td data-index="@aplikacja.ID" class="my-td">Poziom studiów: @(EnumUtils.ConvertIDToTypeAsString<PoziomStudiow>(aplikacja.KierunekStudiow.PoziomStudiow)) </td>
                                <td data-index="@aplikacja.ID" class="text-right" rowspan="2" style="white-space: nowrap;">
                                    <form asp-action="WyslijWiadomosc" asp-route-id="@aplikacja.ID" method="get" style="display: inline-block;">
                                        <button data-index="@aplikacja.ID" id="sendMsgBtn" type="submit" class="btn btn-secondary assignment-button">Wyślij wiadomość</button>
                                        <input type="hidden" id="aplikacjaId" name="aplikacjaId" value=@aplikacja.ID>
                                    </form>

@*                                     <form id="sendMsgForm_@aplikacja.ID" action="WyslijWiadomosc" method="get" style="display: inline-block;">
                                        <input type="hidden" name="aplikacjaId" value="@aplikacja.ID">
                                        <button type="submit" class="btn btn-secondary assignment-button">Wyślij wiadomość</button>
                                    </form> *@



                                    <button data-index="@aplikacja.ID" type="button" class="btn btn-secondary assignment-button" data-toggle="modal" data-target="#confirmationModal" data-app-id="@aplikacja.ID">
                                        Przypisz
                                    </button>                                   
                                    <button data-index="@aplikacja.ID" type="button" class="btn btn-secondary assignment-button" data-toggle="modal" data-target="#rejectionModal" data-app-id="@aplikacja.ID">
                                        Odrzuć
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td data-index="@aplikacja.ID" class="my-td" colspan="2" style="font-weight: bold;">Współczynnnik: @aplikacja.WspolczynnikRekrutacyjny.Wartosc pkt. </td>
                                <td data-index="@aplikacja.ID" class="my-td">Język wykładowy: @(EnumUtils.ConvertIDToTypeAsString<Jezyk>(aplikacja.KierunekStudiow.JezykWykladowy))</td>

                            </tr>
                            <tr>
                                <td data-index="@aplikacja.ID" class="my-td" colspan="2">Kierunek: @aplikacja.KierunekStudiow.NazwaKierunku</td>
                                <td data-index="@aplikacja.ID" class="my-td">Miejsce: @(EnumUtils.ConvertIDToTypeAsString<MiejsceStudiow>(aplikacja.KierunekStudiow.MiejsceStudiow))</td>
                                <td></td>
                            </tr>

                            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie akcji</h5>
                                            <button data-index="@aplikacja.ID" id="modalExitBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div data-index="@aplikacja.ID" class="modal-body" id="popUpAssignQuestionTxt">
                                            Czy na pewno chcesz przypisać kandydata @aplikacja.Kandydat.Nazwisko @aplikacja.Kandydat.Imie do kierunku @aplikacja.KierunekStudiow.NazwaKierunku?
                                        </div>
                                        <div class="modal-footer">
                                            <button data-index="@aplikacja.ID" id="modalCancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <form id="confirmationForm" method="post">
                                                <button data-index="@aplikacja.ID" id="modalSubmitBtn" type="submit" class="btn btn-secondary">Zatwierdź</button>
                                                <input type="hidden" id="applicationId" name="applicationId" value=@aplikacja.ID>
                                                <input type="hidden" id="operationCode" name="operationCode" value=1>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="rejectionModalLabel">Potwierdzenie akcji</h5>
                                            <button data-index="@aplikacja.ID" id="modalRejectionExitBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div data-index="@aplikacja.ID" class="modal-body" id="popUpRejectQuestionTxt">
                                            Czy na pewno chcesz odrzucić aplikację kandydata @aplikacja.Kandydat.Nazwisko @aplikacja.Kandydat.Imie na kierunek @aplikacja.KierunekStudiow.NazwaKierunku?
                                        </div>
                                        <div class="modal-footer">
                                            <button data-index="@aplikacja.ID" id="modalRejectionCancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <form id="rejectionForm" method="post">
                                                <button data-index="@aplikacja.ID" id="modalRejectionSubmitBtn" type="submit" class="btn btn-secondary">Zatwierdź</button>
                                                <input type="hidden" id="applicationId" name="applicationId" value=@aplikacja.ID>
                                                <input type="hidden" id="operationCode" name="operationCode" value=2>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </li>
            }
        </ul>



    


@if (!string.IsNullOrEmpty(ViewBag.NoResultMessage))
{
    <p id="noResultMsgTxt" class="center-text">@ViewBag.NoResultMessage</p>
}

@if (!string.IsNullOrEmpty(ViewBag.PopUpMessage))
{
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p id="popUpMsgTxt" style="text-align: center">@ViewBag.PopUpMessage</p>
                </div>

                <div class="modal-footer">
                    <button id="popUpCloseBtn" type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var popUpMessage = '@Html.Raw(ViewBag.PopUpMessage)';

            if (popUpMessage.trim() !== '') {
                $('#myModal').modal('show');
            }
        });
    </script>
}




