@model IEnumerable<Kandydat>
@{
    ViewData["Title"] = "Index";
}

<body>


<p>Kandydaci na studia (Politechnika Wrocławska)</p>

    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-inline pull-left">
                @using (Html.BeginForm("Index", "Kandydaci", FormMethod.Get, new { @class = "form-group", id = "searchForm" }))
                {
                    <div class="custom-dropdown">

                        <input type="text" class="form-control" placeholder="Wyszukaj" id="txtSearchFilter" name="searchFilter" value="@ViewBag.SearchFilter" />
                        <button type="submit" class="btn btn-secondary">Szukaj</button>
                        <button type="button" class="btn btn-outline-danger" onclick="clearFilters()">Usuń filtry</button>
                        @Html.Hidden("sortOption", TempData["SortOption"])

                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline pull-right">
                @using (Html.BeginForm("Index", "Kandydaci", FormMethod.Get, new { @class = "form-group", id = "filterForm" }))
                {
                    <div class="custom-dropdown">
                        <label for="sortOption">Sortowanie:</label>
                        @Html.DropDownList("sortOption", new SelectList(ViewBag.SortOptions, "Value", "Text", ViewBag.SelectedSortOption), new { @class = "form-group" , onchange = "this.form.submit();", @value = ViewBag.SelectedSortOption })
                
                        <input type="hidden" name="searchFilter" value="@ViewBag.SearchFilter" />
                        <input type="hidden" name="sortOption" value="@TempData["SortOption"]" />
                    </div>
                }
            </div>
        </div>
        <div id="tab-kand" class="col-sm-12">
            <br />
            <ul class="margin-top">
                @foreach (var kandydat in Model)
                {
                    <li class="list-outer-border">
                        <table class="table" style="table-layout: fixed; width: 100%">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nazwisko: @kandydat.Nazwisko</td>
                                    <td>Imię: @kandydat.Imie</td>

                                    <td class="text-right" style="white-space: nowrap;">
                                        <button class="btn btn-secondary" style="margin-right: 5px;">Dokumenty</button>
                                        <button class="btn btn-secondary" style="margin-right: 5px;">Wyślij wiadomość</button>
                                        <form asp-action="PrzypiszKandydata" asp-route-id="@kandydat.ID" method="get" style="display: inline-block;">
                                            <button type="submit" class="btn btn-secondary">Przypisz</button>
                                        </form>
                                    </td>


                                </tr>
                                <tr class="last-row">
                                    <td>ID kandydata: @kandydat.ID</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <br>
                }
            </ul>
        </div>
    </div>
</body>

<script>

</script>
