@using Aurora.Enums
@using Aurora.Utils
@model IEnumerable<AplikacjaRekrutacyjna>
@{
    ViewData["Title"] = "Przypisz kandydata";
}


<div class="row">
    <div class="row col-md-12">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                    <tr>
                        <td class="my-td">Nazwisko: @ViewBag.Nazwisko</td>
                        <td class="my-td">Imię: @ViewBag.Imie</td>
                        <td class="text-right" rowspan="2">
                            <button type="button" id="cancelAssignmentBtn" class="btn btn-danger cancel-assignment-button">Anuluj przypisanie</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="my-td">ID Kandydata: @ViewBag.ID</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
        </table>
    </div>

    <div class="col-md-4 index-sort-panel">
        <div class="form-inline pull-left">
            @using (Html.BeginForm("PrzypiszKandydata", "Kandydaci", FormMethod.Get, new { @class = "form-group", id = "searchForm" }))
            {
                <div class="custom-dropdown">
                    <label for="txtSearchFilter">Wyszukaj kierunek:</label>
                    <input type="text" class="form-control" placeholder="Wyszukaj kierunek" id="txtSearchFilter" name="searchFilter" value="@ViewBag.SearchFilter" />
                    <button type="submit" class="btn btn-secondary">Szukaj</button>
                    <button type="button" class="btn btn-outline-danger" onclick="clearFilters()">Usuń filtry</button>
                    @Html.Hidden("filterPoziom", TempData["FilterPoziom"])
                    @Html.Hidden("filterForma", TempData["FilterForma"])
                    @Html.Hidden("filterJezyk", TempData["FilterJezyk"])
                    @Html.Hidden("filterWydzial", TempData["FilterWydzial"])
                    @Html.Hidden("filterMiejsce", TempData["FilterMiejsce"])
                </div>
     
            }
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-inline pull-right">
            @using (Html.BeginForm("PrzypiszKandydata", "Kandydaci", FormMethod.Get, new { @class = "form-group", id = "filterForm" }))
            {

                <div class="custom-dropdown">

                    <label for="filterPoziom">Poziom studiów:</label>
                    @Html.DropDownList("filterPoziom", new SelectList(ViewBag.FilterOptionsPoziom, "Value", "Text", ViewBag.SelectedFilterPoziom), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterPoziom, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterForma">Forma studiów:</label>
                    @Html.DropDownList("filterForma", new SelectList(ViewBag.FilterOptionsForma, "Value", "Text", ViewBag.SelectedFilterForma), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterForma, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterJezyk">Język wykładowy:</label>
                    @Html.DropDownList("filterJezyk", new SelectList(ViewBag.FilterOptionsJezyk, "Value", "Text", ViewBag.SelectedFilterJezyk), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterJezyk, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterWydzial">Wydział kierunku</label>
                    @Html.DropDownList("filterWydzial", new SelectList(ViewBag.FilterOptionsWydzial, "Value", "Text", ViewBag.SelectedFilterWydzial), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterWydzial, @class = "select-item" })
                </div>
                <div class="custom-dropdown">
                    <label for="filterOption1">Miejsce studiów:</label>
                    @Html.DropDownList("filterMiejsce", new SelectList(ViewBag.FilterOptionsMiejsce, "Value", "Text", ViewBag.SelectedFilterMiejsce), new { onchange = "submitFilterForm();", @value = ViewBag.SelectedFilterMiejsce, @class = "select-item" })
                </div>



                <input type="hidden" name="searchFilter" value="@ViewBag.SearchFilter" />
                <input type="hidden" name="filterPoziom" value="@TempData["FilterPoziom"]" />
                <input type="hidden" name="filterForma" value="@TempData["FilterForma"]" />
                <input type="hidden" name="filterJezyk" value="@TempData["FilterJezyk"]" />
                <input type="hidden" name="filterWydzial" value="@TempData["FilterWydzial"]" />
                <input type="hidden" name="filterMiejsce" value="@TempData["FilterMiejsce"]" />
            }
        </div>
    </div>

</div>



@if (Model.Any())
{

    
    <ul class="top-margin">
        @foreach (var aplikacja in Model)
        {
            <br>
            <li class="list-outer-border2">
                <table class="table" >
                    <thead>
                        <th> </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="my-td" colspan="2">Kierunek: @aplikacja.KierunekStudiow.NazwaKierunku</td>
                            <td class="my-td">Forma studiów: @(EnumUtils.ConvertIDToTypeAsString<FormaStudiow>(aplikacja.KierunekStudiow.FormaStudiow))</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="my-td" colspan="2">Wydział: @(EnumUtils.ConvertIDToTypeAsString<NazwaWydzialu>(aplikacja.KierunekStudiow.Wydzial))</td>
                            <td class="my-td">Poziom studiów: @(EnumUtils.ConvertIDToTypeAsString<PoziomStudiow>(aplikacja.KierunekStudiow.PoziomStudiow)) </td>
                            <td class="text-right" rowspan="2" style="white-space: nowrap;">
                                <form asp-action="WyslijWiadomosc" asp-route-id="@aplikacja.ID" method="get" style="display: inline-block;">
                                    <button type="submit" class="btn btn-secondary assignment-button">Wyślij wiadomość</button>
                                </form>
                                <button type="button" class="btn btn-secondary assignment-button" data-toggle="modal" data-target="#confirmationModal" data-app-id="@aplikacja.ID">
                                    Przypisz
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="my-td" colspan="2"></td>
                            <td class="my-td">Język wykładowy: @(EnumUtils.ConvertIDToTypeAsString<Jezyk>(aplikacja.KierunekStudiow.JezykWykladowy))</td>

                        </tr>
                        <tr>
                            <td class="my-td" colspan="2"></td>
                            <td class="my-td">Miejsce: @(EnumUtils.ConvertIDToTypeAsString<MiejsceStudiow>(aplikacja.KierunekStudiow.MiejsceStudiow))</td>
                            <td></td>
                        </tr>

                        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie akcji</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Czy na pewno chcesz przypisać kandydata @ViewBag.Nazwisko @ViewBag.Imie do kierunku @aplikacja.KierunekStudiow.NazwaKierunku?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                        <form id="confirmationForm" method="post">
                                            <button type="submit" class="btn btn-secondary">Zatwierdź</button>
                                            <input type="hidden" id="aplikacjaId" name="aplikacjaId" value="@aplikacja.ID">
                                            <input type="hidden" name="searchFilter" value="@ViewBag.SearchFilter" />
                                            <input type="hidden" name="filterPoziom" value="@TempData["FilterPoziom"]" />
                                            <input type="hidden" name="filterForma" value="@TempData["FilterForma"]" />
                                            <input type="hidden" name="filterJezyk" value="@TempData["FilterJezyk"]" />
                                            <input type="hidden" name="filterWydzial" value="@TempData["FilterWydzial"]" />
                                            <input type="hidden" name="filterMiejsce" value="@TempData["FilterMiejsce"]" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tbody>
                </table>
            </li>
        }
    </ul>

} 
@if(!string.IsNullOrEmpty(ViewBag.NoResultMessage))
{
    <p class="center-text">@ViewBag.NoResultMessage</p>
} 


@if (!string.IsNullOrEmpty(ViewBag.PopUpMessage))
{
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p style="text-align: center">@ViewBag.PopUpMessage</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var popUpMessage = '@Html.Raw(ViewBag.PopUpMessage)';

            if (popUpMessage.trim() !== '') {
                $('#myModal').modal('show');
            }
        });
    </script>
}

<div class="modal fade" id="cancellingModal" tabindex="-1" role="dialog" aria-labelledby="cancellingModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancellingModal">Potwierdzenie opuszczenia strony</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                Czy na pewno chcesz anulować przypisanie i powrócić do listy kandydatów?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmLeaveBtn">Potwierdź</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelLeaveBtn">Anuluj</button>
            </div>
        </div>
    </div>
</div>




<script>


    $(document).ready(function () {
        $("#cancelAssignmentBtn").click(function () {
            showLeaveConfirmationModal();
        });

        function showLeaveConfirmationModal() {
            $('#cancellingModal').modal('show');

            $("#confirmLeaveBtn").click(function () {
                window.location.href = '/Kandydaci/Index';
                $('#cancellingModal').modal('hide');
            });       
            
            $("#cancelLeaveBtn").click(function () {
                $('#cancellingModal').modal('hide');
            });
        }
    });

</script>




