@using Aurora.Enums
@using Aurora.Utils
@model AplikacjaRekrutacyjna
@{
    ViewData["Title"] = "Wyślij dodatkową wiadomość";
}

<body>



    <p>Odbiorca:</p>
    <div class="row col-md-12">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                <div class="application-row">
                    <tr>
                        <td class="my-td">Nazwisko: @Model.Kandydat.Nazwisko</td>
                        <td class="my-td">Imię: @Model.Kandydat.Imie</td>
                        <td class="my-td">Kierunek: @Model.KierunekStudiow.NazwaKierunku</td>
                        <td class="my-td">Forma studiów: @(EnumUtils.ConvertIDToTypeAsString<FormaStudiow>(@Model.KierunekStudiow.FormaStudiow))</td>
                        <td class="my-td">Język wykładowy: @(EnumUtils.ConvertIDToTypeAsString<Jezyk>(@Model.KierunekStudiow.JezykWykladowy))</td>

                    </tr>
                    <tr>
                        <td class="my-td">ID Kandydata: @Model.Kandydat.ID</td>
                        <td></td>
                        <td class="my-td">@(EnumUtils.ConvertIDToTypeAsString<NazwaWydzialu>(@Model.KierunekStudiow.Wydzial))</td>
                        <td class="my-td">Poziom studiów: @(EnumUtils.ConvertIDToTypeAsString<PoziomStudiow>(@Model.KierunekStudiow.PoziomStudiow))</td>
                        <td class="my-td">Miejsce: @(EnumUtils.ConvertIDToTypeAsString<MiejsceStudiow>(@Model.KierunekStudiow.MiejsceStudiow))</td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

    <p>Nadawca: @ViewBag.ImieUsera @ViewBag.NazwiskoUsera</p>


    <input type="text" id="duzaWiadomosc" class="form-control" style="height: 200px; text-align: start" placeholder="Treść wiadomości">

    <div style="display: flex; justify-content: space-between; max-width: 600px; margin: 0 auto; padding: 20px;">

    @*     <button type="button" class="btn btn-secondary" onclick="history.back()">Powrót</button> *@

        <form asp-action="PrzypiszKandydata" method="get">
            <input type="hidden" name="id" value=@Model.KandydatID>
            <button type="submit" class="btn btn-secondary">Powrót</button>
        </form>


        <form asp-action="WyslijWiadomosc" method="post">
            <input type="hidden" name="aplikacjaId" value=@Model.ID> 
            <input type="hidden" name="pracownikId" value=@Convert.ToInt32(ViewBag.IDUsera)> 
            <input type="hidden" name="tresc" id="tresc" value="">

            <button type="submit" class="btn btn-secondary" onclick="przygotujDane()">Wyślij</button>
        </form>
    </div>



    @if (ViewBag.Message != null)
    {
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p style="text-align: center">@ViewBag.Message</p>
                    </div>

                    <div class="modal-footer">
                        <form asp-controller="Kandydaci" asp-action="PrzypiszKandydata" method="get">
                            <input type="hidden" name="id" value="@Model.KandydatID" />
                            <button type="submit" class="btn btn-danger">Powrót do przypisu</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var popUpMessage = '@Html.Raw(ViewBag.Message)';

                if (popUpMessage.trim() !== '') {
                    $('#myModal').modal('show');
                }
            });
        </script>
    }
</body>

<script>
    function przygotujDane() {
        var trescWiadomosci = document.getElementById('duzaWiadomosc').value;
        document.getElementById('tresc').value = trescWiadomosci;
    }
</script>





